@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minecraftia';
    font-style: normal;
    font-weight: 400;
    src: local('Minecraftia'), url('./Minecraftia.woff') format('woff');
}

.is-pixelated { image-rendering: pixelated; }

#the-mctooltip {
    position: fixed;
    background-color: #100010;
    background-color: rgba(16,0,16,0.94);
    padding: 0.375em;
    font-family: Minecraftia;
    font-size: 16px;
    word-spacing: 4px;
    line-height: 1.25em;
    margin: 0.125em 0.25em;
    pointer-events: none;
	word-wrap: break-word;
    z-index: 9999;
    color: #FFF;
    text-shadow: 0.125em 0.125em 0 #3F3F3F;
}
#the-mctooltip::before {
    content: "";
    position: absolute;
    top: 0.125em;
    right: -0.125em;
    bottom: 0.125em;
    left: -0.125em;
    border: 0.125em solid #100010;
    border-style: none solid;
    border-color: rgba(16,0,16,0.94);
}
#the-mctooltip::after {
    content: "";
    position: absolute;
    top: 0.125em;
    right: 0;
    bottom: 0.125em;
    left: 0;
    border: 0.125em solid #2D0A63;
    border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
    border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
}
